@mixin common_input {
    .input_field {
        label {
            @include common_font;
        }

        input {
            width: 100px;
            height: 30px;
            padding: 0 10px;
            font-size: 16px;
            background-color: transparent;
            border-bottom: 1px solid yellow;
            @include common_font;

            &::placeholder {
                color: rgb(160, 160, 160);
            }
        }
    }
}

@mixin common_font {
    font-family: $Comfortaa;
    color: white;
    font-size: 1.2rem;
}